@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --discord-grey: #313338;
  --discord-dark: #2b2d31;
  --discord-black: #1e1f22;
  --discord-blurple: #5865f2;
}

body {
  background-color: var(--discord-black);
  color: white;
  margin: 0;
}

/* Scrollbar personnalisée style Discord */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #1a1b1e;
  border-radius: 10px;
}
