@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --discord-grey: #313338;
  --discord-dark: #2b2d31;
  --discord-black: #1e1f22;
}

body {
  background-color: var(--discord-black);
  color: white;
}
